extends layout

block content
	a(href="/") Home
	h1 #{topicType}: #{name}
	
	- if (comments != null)
		each comment in comments
			hr
			p.comment= comment.message
			- date = new Date(comment.timestamp)
			- timestamp = date.toLocaleString()
			p.timestamp= timestamp
			
	hr
	
	form(action='/api/Add#{topicType}Comment' method='post' autocomplete="off")
		input(type="hidden" name="Name" value="#{name}")
		textarea.form-control(name="Comment" placeholder="leave a comment" autofocus rows="7")
		br
		input.btn.btn-default(type='submit' value="Submit")